@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster-regular-webfont.eot');
    src: url('../fonts/lobster-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster-regular-webfont.woff') format('woff'),
         url('../fonts/lobster-regular-webfont.ttf') format('truetype'),
         url('../fonts/lobster-regular-webfont.svg#lobsterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 12px/1 'Open Sans',arial, helvetica, sans-serif;
}
/* General reset */
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #bc2336;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
input, select, textarea, button{
	outline: none;
	border: none;
}
select{
	color: #b5b5b5;
}
.form-control{
	border: 2px solid #b5b5b5;
}
.form-control:focus{
	border: 2px solid #bc2336;
}
textarea{
	padding: 8px 35px;
    resize: vertical;
}
button, input[type="submit"]{
	cursor: pointer;
}
.active-color{
	color: #bc2437;
}

/* General settings */
h1, h3, h5{
	font-family: 'lobsterregular';
}
.btn{
	display: inline-block;
	/*width: 300px;
	line-height: 55px;*/
	border: 3px solid #bc2336;
	/*text-transform: uppercase;*/
	text-align: center;
	font-size: 24px;
	color: #FFF;
	/*background-color: #bc2336;*/
}
.small-caps, .service-text a span, .header_nav, .contact-footer ul li, .prises span, .contact .btn, .service-item h6{
	font-variant: small-caps;
}
.btn:hover{
	background: #bc2336;
	color: #FFF;
}
.container{
	width: 1280px;
	margin: 0 auto;
	padding: 0 10px;
}
.input-group{
	float: left;
	padding: 0 7px;
}
.input-group.w50{
	width: 50%;
}
.input-group.w100{
	width: 100%;
	float: none;
	text-align: center;
	clear: both;
}
.form-control{
	width: 100%;
}
/*HEADER START*/
.header{
	background: #FFF;
	height: 116px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	border-bottom: 1px solid #ececec;
	box-shadow: 0 0 1px 0 #f8f8f8;
}
.logo{
	float: left;
	padding: 9px;
	margin-right: 150px;
}
.header_nav{
	float: left;
	margin: 50px 0 0 73px;
}
.header_nav li{
	display: inline-block;
	padding: 0 8px;
}
.header_nav a{
	font-size: 18px;
}
.header_nav a:active{
	color: #bc2336;
}
.header .soc_nav{
	float: right;
	margin: 42px -16px 1px 15px;
}
.header .soc_nav li{
	display: inline-block;
	padding: 0 15px;
}
.soc_nav li a{
	background-image: url('../img/sprite-soc-ico.png');
	background-repeat: no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	
}
.vk-ic{
	background-position: -48px -48px;
}
.vk-ic:hover, .footer .vk-ic:hover{
	background-position: -48px -24px;
}
.tw-ic{
	background-position: -24px -48px;
}
.tw-ic:hover, .footer .tw-ic:hover{
	background-position: -24px -24px;
}
.goo-ic{
	background-position: -0px -48px;
}
.goo-ic:hover,.footer .goo-ic:hover{
	background-position: -0px -24px;
}
/*HEADER END*/
/* MAIN START */
.main{
	overflow: hidden;
}
.call-to-action{
	background: url('../img/call-to-action-bg.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
	padding-top: 116px;
	text-align: center;
	color: #FFF;
}
.call-to-action::before, 
.service-text::before, 
.service-text a::before
{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.call-to-action-text{
	display: inline-block;
	vertical-align: middle;
}
.call-to-action-text h1{
	margin-bottom: 11px;
	font-size: 60px;
}
.call-to-action-text span{
	display: block;
	font-size: 19px;
	margin: 13px 0 29px 0;
	font-variant: small-caps;
}
.call-to-action-text .btn{
	width: 300px;
	line-height: 50px;
	font-size: 24px;
}
.service-wrap .row{
	margin: 0 -10px;
}
.service-item{
	width: calc( 100% / 3 );
	/*width: 33.3333%;*/
	float: left;
	position: relative;
	padding: 7px 11px;
	overflow: hidden;
}
.service-item img{
	width: 100%;
}
.service-text{
	position: absolute;
	width: 206px;
	height: 206px;
	background: rgba(255, 255, 255, .85);
	border-radius: 50%;
	top: 50%;
	margin-top: -103px;
	left: 50%;
	margin-left: -103px;
	text-align: center;
}
.service-text a{
	display: inline-block;
	height: 196px;
	width: 196px;
	border: 3px solid transparent;
	border-radius: 50%;
	vertical-align: middle;
}
.service-text a:hover{
	border-color: #bc2336;
	color: #bc2336;
}
.service-text a span{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}
.about_us{
	text-align: center;
	padding: 36px 0 40px 0;
}
.about_us h3{
	margin-bottom: 35px;
	font-size: 36px;
}
.about_us p{
	font-size: 20px;
	padding: 0 114px;
	line-height: 24px;
}
/* FOOTER START */
.footer{
	background: black;
	/*height: 245px;*/
	text-align: center;
}
.footer h5{
	padding: 27px 0;
	font-size: 24px;
	color: #FFF;
}
.footer .contact-footer ul{
	margin-top: 10px;
}
.contact-footer ul li{
	display: block;
	color: #FFF;
	font-size: 14px;
	padding-bottom: 4px;
}
.footer .coc_nav ul{
	text-align: center;
	/*margin-top: 29px;*/
}
.footer .soc_nav li{
	display: inline-block;
	margin: 27px 9px;
}
.footer .vk-ic{
	background-position: -48px -0px;
}
.footer .tw-ic{
	background-position: -24px -0px;
}
.footer .goo-ic{
	background-position: -0px -0px;
}
/* FOOTER END */
/* MODAL START*/
.modal{
	display: none;
	width: 700px;
	/*min-height: 500px;*/
	background: #fff;
	padding: 17px;
}
.modal .about_us{
	padding: 19px 0 6px 0;
}
.modal .modal-close{
	width: 42px;
	height: 42px;
	border: 2px solid #bc2336;
	border-radius: 50%;
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
}
.modal-close span{
	display: inline-block;
	width: 20px;
	height: 2px;
	background: #bc2336;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 47%;
	left: 26%;
}
.modal-close span + span{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.modal-header{
	margin: 0 90px;
}
.modal-header span{
	font-size: 24px;
	margin-bottom: 23px;
}
.modal-header button{
	border: none;
	background: transparent;
	position: absolute;
	right: 9px;
    top: 9px;
}
.form-control{
	height: 34px;
	margin-bottom: 30px;
	padding-left: 16px;
	font-size: 14px;
}
.modal textarea{
	height: 98px;
	margin-top: 32px;
}
.modal .modal-body .btn{
	padding: 13px 37px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 13px;
    background-color: #bc2336;
}
/* MODAL END*/
/* ---------------- PRICES START -----------------*/
.prises{
	padding: 58px 0 42px 0;
}
.prises span{
	font-size: 36px;
	font-weight: 600;
}
.prises .about_us h3{
	margin-top: 12px;
}
.prises .about_us{
	padding: 93px 0 40px 0;
}
.item-prices{
	border: 3px solid transparent;
	height: 570px;
}
.item-prices:hover{
	border-color: #bc2336;
}
.prises .service-item{
	padding: 16px 9px;
}
.service-item img{
	margin-bottom: 22px;
}
.service-item p{
	text-align: center;
	font-size: 18px;
	padding: 17px 27px 27px 27px;
	line-height: 24px;
}
.service-item h6{
	font-size: 21px;
	text-align: center;
	line-height: 24px;
	padding: 0 15px;
}
/* ---------------- PRICES END -----------------*/
/* --------------- CONTACT START -------------- */
.about_us li{
	font-size: 24px;
	line-height: 29px;
}
.contact .form-control{
	height: 55px;
	margin-bottom: 34px;
	padding-left: 35px;
	font-size: 18px;
}
.contact li{
	margin-bottom: 29px;
}
.coment{
	margin-left: 13px;
}
.contact .coment{
    height: 233px;
    margin-bottom: 37px;
    font-size: 21px;
    padding-top: 10px;
}
.contact .btn{
	background: #bc2336;
	border-radius: 5px;
	margin-bottom: 60px;
	width: 243px;
	line-height: 63px;
}
/* --------------- CONTACT END ---------------- */
/* --------------- NEWS START ----------------- */
.news-up{
	margin-top: 116px;
}
.news-up{
    padding-bottom: 0;
}
.news-up h3{
	margin: 6px 0 30px 0;
}
.news-up span{
	font-size: 36px;
}
.data{
	color: #7e7c7c;
}
.news-img{
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	text-align: center;
	margin-top: 35px;
	/*overflow: hidden;*/
}
.news-img img{
	/*height: 100vh;*/
}
.news-section-text{
	text-align: center;
	font-size: 20px;
    padding: 35px 0 31px 0;
    border-bottom: 1px solid #bc2336;
}
.news-section-text h3{
	margin-bottom: 15px;
	font-size: 25px;
}
.news-section-text span{
	font: 12px/1 'Open Sans';
	font-size: 23px;
    padding: 0 5px;
}
.news-section-text p{
	padding-top: 20px;
}
/* --------------- NEWS END ------------------- */
/* END */